body{
    background-image:url("bg.webp") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
p
{
    max-width: 400px;
}